<br>

<div class="bg-info bg-gradient text-light text-center">
<h1>Events promotion starts with <br> <span class="eventsboard"> EventsBoard</span></h1>


<h4>Professional, conferences, workshops, training events, music &amp; concerts, donations &amp; and more.</h4>
<br>
<h4>
  <%= link_to "Start your Event", new_event_path, class: "new start-event" %> <%= link_to "Discover Events", events_path, class: "edit discover-event" %>
</h4>
<br>
</div>
<br> <br>

<hr>
<h2 class="text-center tag-line">
  Promoting your event can be difficult, we can help!
</h2>
<hr>
