<div class="row">
  <div class="col-sm-6">
    <%= simple_form_for([:admin, category]) do |f| %>
      <%= f.input :name  %>
      <%= f.input :summary %>
      <p></p>
      <%= f.button :submit, class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
